* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50%;
    padding-bottom: 50%;
    background-color: #0A0C1B;
}

.main {
    padding: 10px;
    background-color: white;
}

span {
    color: blueviolet ;
}

