* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding: 20% 10% ;
    background-color: #0A0C1B;
}

.main {
    width: 900px;
    display: flex;
    height: 450px;
    background-color: rgba(216, 111, 216, 0.356);
}

span {
    color: blueviolet ;
}

.leftside {
    color: white;
    padding: 50px;
    background-color: #1C1937;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding-top: 10px;
}

.listbox1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}


.listbox1 span {
    font-size: 1.6em;
    font-weight: bolder;
    color: white;
}

.style {
    font-size: 0.2em;
    font-style: oblique;
    font-weight: lighter;
}

.list1 {
    list-style: none;
    margin: 100px 20px;
}

.list1 > li {
    font-size: 1.2em;
    text-align: center;
}

.list2 {
    list-style: none;
    margin: 100px 20px;
}

.list2 > li {
    font-size: 1.2em;
    text-align: center;
}

.list3 {
    list-style: none;
    margin: 100px 20px;
}

.list3 > li {
    font-size: 1.2em;
    text-align: center;
}


.rightside {
    width: 450px;
    max-height: 450px;
}

.image {
    mix-blend-mode: overlay;
    margin-right: 90px;
    height: 450px;
    width: 450px;

}
